html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


/*---------------CHAT PANEL ELEMENTS------------------*/

#chat-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chara-wrapper {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chara-name {
  font-size: larger;
    font-family: sans-serif;
    padding: 10px;
}

#chara-wrapper::after {
    content: "";
    height: 2px;
    background: linear-gradient(90deg, rgba(31,20,222,0) 0%, rgba(169,170,175,1) 10%, rgba(169,170,175,1) 90%, rgba(0,212,255,0) 100%);
    width: 90%;
    bottom: 0;
    z-index: 1000;
    left: 10%;
    right: 10%;
}

#buttons-bar-id {
    position: absolute;
    right: 5%;
}

#buttons-bar-left-id {
    position: absolute;
    left: 5%;
}

#save-chat-id:hover, #create-memory-button-id:hover {
  cursor:pointer;
}

#character-image:hover{
  cursor:pointer;
}

#character-image {
  /*width: 50px;*/
  height: 50%;
  min-height: 50px;
  aspect-ratio: 1/1;
  margin: auto;
  background-color: var(--color-accent);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center
}
#character-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#chat-input {
  display: flex;
  align-items: center;
  flex-grow: 0;
  bottom: 1%; /* Toujours en bas du chat */
  width: 100%;
}
textarea {
  height: 100%;
  flex-grow: 1;
  margin-left: 1%;
  resize: none;
  text-wrap: wrap;
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-width: thin;
  scrollbar-color: blue white;
  border-radius: 5px;
  padding: 5px;
  /*margin-bottom: 5px;*/
}

#send-button {
  width: 10%;
  background-color: var(--color-accent); /* Fond bleu */
  border: none;
  transition: all 0.3s ease; /* Transition pour hover */
  border-radius: 20%;
  flex-grow: 0;
  padding: 5px;
  margin: 5px;
}
textarea::-webkit-scrollbar {
  background-color: var(--color-accent); /* Couleur du thumb */
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-accent); /* Couleur du thumb */
  border-radius: 10px;
}

.robot-message,
.user-message {
  text-wrap: wrap;
  overflow-wrap: break-word;
  -webkit-user-select: text;
  user-select: text;
}

.robot-message {
  background-color: var(--color-base-25);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  max-width: 90%;
  margin-right: auto;
  display: inline-flex;
  /*color: black;*/
}
.user-message {
  background: linear-gradient( 132deg, var(--color-accent) 0%, var(--color-accent-2) 39%, var(--color-accent-2) 100% ); /* Dégradé de bleu à violet */
  max-width: 90%;
  color: white; /* Texte en blanc */
  text-align: left; /* Alignement du texte à droite */
  margin-left: auto; /* Marges pour aligner le div à droite */
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px; /* Bordures arrondies */
  padding: 5px; /* Un peu d'espacement intérieur */
}

.robot-typing {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 20px;
}

.robot-typing div {
  width: 100%;
  height: 100%;
  display: flex;
  width: 5px;  
  height: 5px;  
  background-color: var(--color-base-100);  
  border-radius: 50%;  
  margin: 0 2px;  
  animation: pulse 1s infinite; 
}

#divdot1 {
  animation-delay: 0s; 
}

#divdot2 {
  animation-delay: 0.2s; 
}

#divdot3 {
  animation-delay: 0.4s; 
}

@keyframes pulse {  
  0% {  
    transform: scale(1);  
  }  
  50% {  
    transform: scale(1.5);  
  }  
  100% {  
    transform: scale(1);  
  }  
}  


#chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 70%;
  overflow-y: auto;
  flex-grow: 1;
  /*-webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);*/
}

textarea::-webkit-scrollbar-thumb:hover {
  background: darkblue; /* Couleur au survol */
}
#send-button img {
  filter: invert(100%);
}
#send-button:hover {
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
}
#send-button:hover img {
  filter: invert(0%);
}


/*---------CHARACTER SELECTION MODAL----------------*/

#character-pic-wrapper {
    height: 50px;
    margin: 10px;
    background-color: var(--color-green);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
}
#character-pic-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div#character-description-wrapper {
    display: flex;
    flex-direction: column;
}

#character-description-wrapper h3 {
  margin: 0;
}

.character-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: var(--color-base-50);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.character-item:hover {
  background: var(--color-base-25);
  cursor: pointer;
}


/*#load-ai-chat-button {
    height: 20px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    left: 5%;
}*/


#load-ai-chat-button:hover, #create-gpt-button:hover {
    cursor:pointer;
}


.saved-chat-item {
    display: flex;
    flex-direction: row;
    border: #022658;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    margin: 5px;
}

.saved-chat-name {
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: calc(100% - 60px);
}


.saved-chat-item:hover {
    background-color: #F8F9FA;
    cursor: pointer;
}


.modal-content>ul {
    padding: 0;
}

/*------ YES NO MODAL --------*/

.YesNoBtns {
    display: flex;
    flex-direction: row;
}

.YesBtnModal {
    background: var(--link-color);
    color: var(--text-on-accent);
}

.NoBtnModal {
    background: var(--background-modifier-border);
    color: var(--text-accent);
}

.YesBtnModal, .NoBtnModal {

    margin: auto;
    padding: 5px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

.YesBtnModal:hover, .NoBtnModal:hover {
  cursor: pointer;
}

.chara-setting-prompt-wrapper {
    display: flex;
    flex-direction: row;
    background: var(--background-secondary);
    border-radius: 5px;
    height: 300px;
    overflow-x: scroll;
    align-items: center;
}

.chara-setting-prompt-box-update {
    background: var(--link-unresolved-color);
    height: 10%;
    padding: 5px;
    color: var(--background-secondary);
    border-radius: inherit;
}

.chara-setting-prompt-box-update:hover {
  cursor: pointer;
}

.chara-setting-prompt-box.chara-setting-prompt-box-openai {
    background: var(--color-base-25);
    color: var(--background-modifier-border-focus);
}